@tailwind base;
@tailwind components;
@tailwind utilities;

.right-lantoa{
    color: red;
}

.left-lantoa{
    /* background-image: url("./img/c1.jpg"); */
}

.right-lantoa {
   width: 100%;
}
.right-lantoa img{
    width: 100%;
}

.btn-form{
    background-color: white;
    font-weight: 600;
    color: rgb(247, 110, 133);
    &:hover{
        color: white;
    }
}
/* 
form dang ky */
.bg-form{
    position: absolute;
    left: 0;
    width: 400px;
    height: 500px;
    background-image: url("./img/about-img.jpg");
    transform: skewY(6deg);
    z-index: 0;
}

.logo{
    width: 150px;
}
.logo img{
    width: 100%;
}

.banner-area{
    background-image: url("./img/bg-header.jpg");
    background-position: center;
    background-repeat: no-repeat;

}

.nav-menu a:hover{
    color: rgb(250, 74, 103);
    text-decoration: underline;
}